body { background-image: url('../images/concert-photos.jpg')}
nav {
  background-color: #292521;
}
.jumbotron {
opacity: .8;
}
.card-body {
  opacity: .5;
  padding: 0px;
  margin: 10px;
}
.card-header {
  background-color: aliceblue;
}
#results.card {
  margin: 10px;
  opacity: .9;
}
#wrapper {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 5%;
}
#articles {
  display: inline-block;
  overflow: auto;
  width: 60%;
  height: 700px;
}
.article-link {
  color: #4b200d;
}
#notes {
  float: right;
  width: 30%;
}
textarea, input {
  display: block;
  width: 100%;
  background-color: #FCF5C7;
}
input {
  height: 36px;
  font-size: 24px;
}
textarea {
  height: 200px;
  font-size: 18px;
}